header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff6ef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-toggle {
    display: none; /* Masque le menu burger par défaut */
    flex-direction: column;
    cursor: pointer;
    z-index: 10;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #0396a6;
    margin: 3px 0;
}

/* Affiche le menu burger sur les petits écrans */
@media (max-width: 850px) {
    .menu-toggle {
        display: flex; /* Affiche le menu burger */
    }

    nav ul {
        display: none; /* Masque la liste de navigation par défaut */
        flex-direction: column;
        position: fixed;
        top: 0; /* Commence en haut de l'écran */
        left: 0;
        background-color: #fff6ef;
        width: 100%; /* Prend toute la largeur */
        height: 100%; /* Prend toute la hauteur */
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease; /* Animation pour l'affichage */
        transform: translateY(-100%); /* Masque le menu par défaut */
    }

    nav ul.active {
        display: flex; /* Affiche la liste de navigation quand active */
        transform: translateY(0); /* Affiche le menu */
    }

    nav ul li {
        padding: 10px;
        text-align: center;
        background: linear-gradient(
            122.095deg,
            #51d3ac 3%,
            #32baaa 38%,
            #1aa8a8 64%,
            #0497a6 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: #0000;
    }
}

/* Ajout d'un margin-top au main pour éviter qu'il soit masqué par le header */
main {
    margin-top: 70px;
    padding: 20px;
}
