/* Styles pour les smartphones */
@media (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        font-size: 18px;
    }

    .b1 {
        padding: 20px;
        margin: 10px;
    }

    .b1 div img,
    .section-title {
        display: block;
    }
    section,
    .b2,
    .b2-association,
    .b4-association,
    .maps-container,
    .footer-container,
    .footer-column {
        display: flex;
        flex-direction: column; /* Change la direction pour les petits écrans */
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .b2 div {
        margin: 10px 0; /* Ajuste les marges */
    }

    /* Masquer les images/div souhaitées */
    .b2 div img,
    .dark-background img,
    .green-container img,
    .b2-association img,
    .activities-list {
        display: none;
    }

    .h2-green-container,
    .h2-b2-association {
        font-size: 36px;
    }

    .p-dark-background,
    .p-green-container,
    .p-b2-association {
        font-size: 18px; /* Réduit la taille de la police */
    }

    .img-locaux {
        width: 100%; /* Ajuste la largeur des images */
        height: auto; /* Assure que la hauteur est automatique */
    }

    .horaires-cards {
        width: 100%; /* Ajuste la largeur des cartes horaires */
    }
}

/* Styles pour les tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
    .b1 {
        padding: 30px;
        min-height: 400px; /* Ajuste la hauteur minimale */
    }

    .b2 {
        flex-direction: row; /* Rétablit la direction pour les tablettes */
    }

    .dark-background,
    .green-container {
        width: 85%; /* Ajuste la largeur */
        padding: 50px; /* Ajuste le padding */
    }

    .h2-green-container,
    .h2-b2-association {
        font-size: 48px; /* Réduit la taille de la police */
    }

    .p-green-container,
    .p-b2-association {
        font-size: 20px; /* Réduit la taille de la police */
    }
}

