@media (min-width: 320px) and (max-width: 1080px) {
    body {
        margin: 0px;
        height: 100%;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    nav ul {
        flex-direction: column; /* Aligne les éléments verticalement */
        padding: 0; /* Supprime le padding */
    }

    nav li {
        margin: 10px 0; /* Espacement vertical */
    }

    main {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    h1 {
        font-size: 1.5em; /* Réduit la taille de la police pour les petits écrans */
    }

    h2 {
        font-size: 1.2em; /* Réduit la taille de la police pour les petits écrans */
    }

    h3 {
        font-size: 1.2em; /* Réduit la taille de la police pour les petits écrans */
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}
