/* ----------------- RESPONSIVE POUR SMARTPHONES ---------------------- */

@media (max-width: 850px) {
    body {
        margin: 0;
        padding: 0;
        font-size: 20px;
    }

    .b1 {
        padding: 20px;
        margin: 10px;
    }

    .b1 div img,
    .section-title,
    .dark-background-container {
        display: block;
    }
    section,
    .b2,
    .b2-association,
    .b4-association,
    .maps-container,
    .footer-container,
    .footer-column,
    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .b2 div {
        margin: 10px 0;
    }

    /* Masquer les images/div souhaitées */
    .b2 div img,
    .dark-background-bis img,
    .green-container img,
    .b2-association img,
    footer img,
    .activities-list {
        display: none;
    }

    .h2-green-container,
    .h2-b2-association {
        font-size: 36px;
    }

    .dark-background-cards {
        margin: 20px;
    }

    .img-locaux {
        width: 90%;
        height: auto;
    }

    .horaires-cards {
        width: 70%;
    }

    .p-dark-font,
    .dark-background-container {
        margin: 20px;
    }

    .niveau-title {
        background: none;
    }


footer {
    background-color: #312f36;
    color: #fff6ef;
    padding: 20px 0; /* Ajoute un peu d'espace en haut et en bas */
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    padding: 10px;
    min-width: 200px; /* Assure que les colonnes ne deviennent pas trop étroites */
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: inherit; /* Prend la couleur du texte parent */
    line-height: 2;
}

footer a:hover {
    color: #fff6ef;
}

footer div img {
    width: 100px;
    height: auto;
    margin: 15px;
}

footer ul li {
    line-height: 1.5;
    text-align: center;
}

.copyright {
    text-align: center;
    margin-top: 20px; /* Ajoute un espace au-dessus */
    font-size: 0.9em; /* Réduit légèrement la taille de la police */
}

}

/* ----------------- RESPONSIVE POUR TABLETTES ---------------------- */

/* J'ai fixé le max à 1340px pour adapter les pages aux ecrans modernes des tablettes grand format et anciens ordi portable */

@media (min-width: 851px) and (max-width: 1340px) {
    .b1 {
        padding: 30px;
        min-height: 400px;
    }

    .b2 {
        flex-direction: row;
    }

    .b2 div img,
    .image-container img {
        max-width: 90%;
    }

    .locaux img {
        width: 250px;
    }

    .dark-background,
    .green-container {
        width: 85%;
        padding: 50px;
    }

    .dark-background-container,
    .locaux {
        flex-wrap: nowrap;
    }

    .maps-container {
        flex-wrap: wrap;
    }

    .text-container {
        padding-left: 5px;
    }

    .h2-green-container,
    .h2-b2-association {
        font-size: 48px;
    }

    .p-green-container,
    .p-b2-association {
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
